<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>Gestion d'annuaire</title>
	<link href="vendor/components/jqueryui/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <link href="vendor/twbs/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="src/css/style.css" rel="stylesheet">
    <meta name="generator" content="NetBeans" >
    <meta name="author" content="Serge NOEL" >
    <meta http-equiv="content-type" content="application/xhtml+xml; charset=UTF-8">
    <meta http-equiv="expires" content="0">
    <script src="vendor/components/jquery/jquery.js"></script>
    <script src="vendor/components/jqueryui/jquery-ui.js"></script>
    <script src="vendor/twbs/bootstrap/dist/js/bootstrap.js"></script>
    <script src="vendor/vakata/jstree/src/jstree.js"></script>
